@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(113deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    font-weight: 500;
    color: white;
}
.header__logo__art{
    color: #671AE4;
}
.header {
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px 15px 110px 15px;
}
.header__logo {
    display: block;
    width: 130px;
    height: 25px;
}
.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
}
.header__link {
    color: white;
    text-decoration: none;
}
.gradient {
    border-radius: 10px;
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    padding: 10px 20px;
}
.form {
    position: relative;
}
.form__button {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/search.svg");
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}
.form__input {
    width: 384px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
}
.form__input:focus {
    outline: none;
}
.form__input::placeholder {
    color:  rgba(255, 255, 255, 0.50);
}
.container {
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    display: flex;
    justify-content: space-between;
}
.main__image img {
    width: 100%;
}
.main__image {
    flex-basis: calc(100% - 490px - 116px);

}
.main__text {
    flex-basis: 490px;
}
.main__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
}
.main__desc {
    font-size: 20px;
    line-height: 1.8;
    color: rgba(255,255,255,0.5);
    margin-top: 0px;
    margin-bottom: 42px;
}
.main__btn {
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
}
.main__btn_gradient {
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    margin-right: 20px;
}
.main__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
    gap: 110px;
}
.main__span {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.main__item {
    color: rgba(255,255,255,0.5);
    font-size: 20px;
}
.company {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.about_us__title {
    padding-top: 120px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.about_us__desc {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    max-width: 423px;
    padding-bottom: 30px;
}
.about_us {
    padding-bottom: 100px;
}
.about_us__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_us__img {
    flex-basis: calc(100% - 588px - 116px);
    margin-right: 30px;
}
.about_us__img img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.popular_nft {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.about_us__popular {
    flex-basis: 588px;
}
.popular_desc {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255,255,255,0.5);
    line-height: 180%;
}
.about_us__popular button {
    border-radius: 10px;
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.desc {
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    max-width: 423px;
    padding-bottom: 30px;
}
.card {
    display: flex;
    justify-content: space-between;
}
.card__item {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 26px;
    flex-basis: 32%;
    box-sizing: border-box;
    transition: .5s;
}
.card__item:hover {
    background: rgba(255,255,255,0.5);
}
.card__cover {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
.card__img {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.card__info {
    display: flex;
    justify-content: space-between;
}
.card__nick {
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}
.card__author {
    font-size: 20px;
    margin-top: 10px;
}
.card__bit {
    text-align: right;
    color: rgba(255,255,255,0.5);
    font-size: 15px;
}
.card__price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 6px;
}
.card__link {
    border-radius: 10px;
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    transition: 0.3s;
}
.card__link:hover {
    border-radius: 10px;
    border: 1px solid #B75CFF;
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title__asked {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    max-width: 387px;
    margin: 0 auto;
    padding-top: 150px;
    line-height: 1.8;
}
.collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    transition: 0.4s;
}

.active, .collapsible:hover {
    background-color: transparent;
    color: rgba(255,255,255,1);
}
.collapsible:after {
    content: '\002B';
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 7px;
}

.active:after {
    content: "\2212";
    color: rgba(255,255,255,1);
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.5;
    transition: max-height 0.2s ease-out;
    margin-bottom: 32px;

}
.faq {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.faq__item {
    flex-basis: 49.3%;
}
.title__banner {
    max-width: 498px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.button__banner {
    border-radius: 10px;
    background:  rgba(255, 255, 255, 0.50);
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: left;
    outline: none;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    margin-top: 30px;
}
.banner {
    padding: 70px 0 70px;
    margin-top: 150px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
    margin-bottom: 150px;
}
@media(max-width: 1130px) {
    .header {
        max-width: 900px;
    }
    .container {
        max-width: 900px;
    }
    .header__list {
        gap: 20px;
        font-size: 16px;
    }
    .form__input {
        width: 260px;
        padding: 14px 14px 14px 40px;
        font-size: 13px;
    }
    .main__text {
        flex-basis: 450px;
    }
    .main__image {
        flex-basis: calc(100% - 450px - 30px);
    }
    .main__title {
        font-size: 43px;
    }
    .main__desc {
        font-size: 18px;
    }
    .main__btn {
        font-size: 18px;
    }
    .main__item {
        font-size: 18px;
    }
    .main__span {
        font-size: 26px;
    }
    .main__list {
        gap: 40px;
    }
    .company img {
        height: 52px;
    }
    .desc , card__link , .collapsible {
        font-size: 18px;
    }
    .title {
        font-size: 36px;
    }
    .card__cover {
        height: 300px;
    }
    .card__img  {
        height: 300px;
    }
    .card__price , .card__author , card__nick {
        font-size: 16px;
    }
}